.row#states-edit
  .small-twelve.columns
    %ul.sortable
      - @experiences.each do |experience|
        %li.trip-img{data: {'id' => experience.id}}
          = image_tag cloudfront(experience.photo.url), style: 'height:150px;width:200px;'
    .button.submit-sortable
      Submit
  %div{data: {'state-abbr' => @state.abbr}}

