.row#states-index
  .small-12.columns.centered.logo
    %h1.passages passages
    %p.lt-grey.subheader TRAVEL LOG
  .small-12.columns
    = render 'us_states'
  .small-12.columns.show-for-small
    %h3.centered VISITED STATES
    %ul.mobile-listing
      - @states.order(:name).each do |state|
        %hr
        %li.centered
          %p
            = link_to "state/#{state.abbr}", class: 'lt-grey' do
              = state.name.upcase
  %div{data: {'visited-states' => @states.pluck(:abbr)}}
