.row
  .small-12.columns.centered.logo
    = link_to root_path do
      %h1.passages passages
      %p.lt-grey.subheader TRAVEL LOG
    %hr
  .small-12.columns
    %h2= @state.name.upcase
  - @state.experiences.find_each do |experience|
    .small-12.columns
      = image_tag experience.photo.url
      = experience.text

