.centered {
  text-align: center;
}

.lt-grey {
  color: #d3d3d3;
}

.right {
  float: right;
}

ul {
  list-style: none;
}

.logo {
  margin-bottom: 50px;
  font-size: 32px;

  .passages {
    font-family: 'Cedarville Cursive', cursive;
  }
  .subheader {
    font-weight:10px;
    margin-top: -20px;
    letter-spacing: 1em;
    font-size: 16px;
  }
}

#states-index {
  .state {
    fill: #f8f8f8;
    stroke: #fff;
    stroke-width: 0.75;
    stroke-opacity: 1;
  }

  .visited {
    fill: #e3e3e3;

    &:hover {
      fill: #d3d3d3;
      cursor: pointer;
    }
  }
  .mobile-listing {
    a {
      &:hover {
        color: black;
      }
    }
  }
  .about {
    font-size: 10px;
  }
}

#states-show {
  .experience {
    margin-bottom: 50px;
  }

  .trip-image {
    opacity: 0;
    transition: opacity .6s ease-in;
  }

  .trip-caption {
    opacity: 0;
    transition: opacity .6s ease-in;
  }
}

.navs {
  font-weight:10px;
  margin-top: -10px;
  letter-spacing: 0.6em;
  margin-bottom: 50px;

  a {
    &:hover {
      color: black;
    }
  }
}

#about-page {
  .banner {
    img {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      margin-bottom: 20px;
    }

    h2 {
      margin-bottom: 0;
      padding-top: 50px;
    }

    li {
      display: inline;

      &:not(:first-child) {
        padding-left: 7px;
      }
    }

    a:hover {
      color: black;
    }
  }
}
